extends ../base

block content
  .page-header
    h1 Meetings

  .container-full
    .col-md-3
      h3 Your Meetings
      if meetings && meetings.length > 0
        ul.list-group
          each meeting in meetings
            .list-group-item
              a.col-xs-12.course-box.flex-column(href=`/meetings/${meeting.id}`)
                h4.list-group-item-heading #{meeting.name}
                if meeting.description
                  p.list-group-item-text #{meeting.description}
      else
        p You are not in any meetings.
    .col-md-9
      h3 Create a meeting
      form.form-horizontal(method='POST', action='/meetings/create')
        .form-group
          label.col-md-2.control-label(for='name') Name
          .col-md-6
            input.form-control(type='name', name='name', id='name', placeholder='Name', required)
        .form-group
          label.col-md-2.control-label(for='description') Description
          .col-md-6
            input.form-control(type='description', name='description', id='description', placeholder='A short description')
        .form-group
          label.col-md-2.control-label Dates
          .col-md-6.container-full
            .col-sm-6
              select.form-control(name='month', id='month')
            .col-sm-6
              select.form-control(name='year', id='year')
        .form-group
          .col-md-offset-2.col-md-6
            .calendar
        .form-group
          .col-md-offset-2.col-md-6
            button.btn.btn-primary(type='submit')
              i.fa.fa-plus
              | Create
    #app
      p {{message}}
      input(v-model='message')
      hr
      input#checkbox(type='checkbox', v-model='checked')
      label(for='checkbox') {{ checked }}
      button(@click='getRequest')

      ui-datepicker(icon='events', placeholder='Select a date', v-model='datetime')
        | Start Date

      ui-button(color='primary', icon='add')
        | ADD POST
