$sidebar-width: 100px;

#wrapper {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  padding-left: $sidebar-width;
  height: 100vh;
  &.toggled {

    #sidebar {
      width: 0;
    }

    #content {
      position: absolute;;
      left: 0;
      width: 100vw;
      margin-right: 0;
    }
  }
}

#sidebar {
  position: absolute;
  left: $sidebar-width;
  width: $sidebar-width;
  height: 100vh;
  margin-left: -$sidebar-width;
  overflow-y: auto;
  background: #EBEBEB;
  transition: all 0.5s ease;
}

#content {
  position: absolute;
  left: 100px;
  padding: 20px;
  width: calc(100vw - 100px);
  //padding-left: 65px;
  transition: all 0.5s ease;
}

.sidebar-nav {
  list-style: none;
  font-size: 48px;

  img {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    max-width: 100%;
  }

  > li {
    text-align: center;
    line-height: 68px;

    a {
      display: block;
      text-decoration: none;
      color: #000000;
      transition: background 0.2s ease;

      &:hover {
        text-decoration: none;
        color: blue;
        background: #DBD9FA;
      }

      &:active {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }
}
