@import '_fonts';
@import '_variables';

@import 'lib/bootstrap/bootstrap';
@import "lib/bootstrap-social/bootstrap-social";
@import 'lib/font-awesome/scss/font-awesome';

// Scaffolding

html {
  min-width: 100%;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.container-full {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px; }
  .container-full:before, .container-full:after {
    content: " ";
    display: table; }
  .container-full:after {
    clear: both; }

// Typography

a {
  transition: all .4s cubic-bezier(.24,.45,.46,.92);

  &:hover {
    text-decoration: none;
  }
}

ul,
p {
  font-size: 14px;
}

// Buttons

.btn {
  padding: 10px 16px;
  border-radius: 3px;
  transition: all .4s cubic-bezier(.24,.45,.46,.92);
}

.btn-social {
  padding: 10px 50px;

  :first-child {
    width: 38px;
    line-height: 38px;
  }
}

.btn-link {
  &:hover {
    color: $gray-darker;
    text-decoration: none;
    background-color: transparent;
  }
}

// List groups

.list-group {
  display: inline-block;
}

// Font Icons

.fa {
  margin-left: 6px;
  margin-right: 6px;
}
