extends ../base 

block content
    .page-header
        h3 Update Profile
    form.form-horizontal(method='POST')
        .form-group
            label.col-sm-3.control(for='email') Email
            .col-sm-7
                input.form-control(type='email', name='email', id='email', value=user.email, autofocus, required)
        .form-group
            label.col-sm-3.control(for='firstName') First Name
            .col-sm-7
                input.form-control(type='firstName', name='firstName', id='firstName', value=user.firstName, autofocus, required)
        .form-group
            label.col-sm-3.control(for='lastName') Last Name
            .col-sm-7
                input.form-control(type='lastName', name='lastName', id='lastName', value=user.lastName, autofocus, required)
        .form-group
             label.col-sm-3.control(for='major') Major
             .col-sm-7
                input.form-control(type='major', name='major', id='major', value=user.major, autofocus)
        .form-group
            .col-sm-offset-1.col-sm-7
            button.col-sm-3.btn.btn-primary(type='submit')
                i.fa.fa-user
                | Update
