#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
  div(data-offset-top='45', data-offset-bottom='90')
    ul#sidebar-nav.nav
      li
        a Home
      li
        a Section 1
      li
        a Section 2
      li
        a Section 3
      li
        a Holo Theme
