#sidebar
  ul.nav.sidebar-nav
    li.sidebar-brand
      a(href='/')
        img(src='/img/icon-avatar.svg')
    li
      a(href='/chats')
        img(src='/img/icon-chat.svg')
    li
      a(href='/')
        img(src='/img/icon-cal.svg')
    li
      a(href='/courses')
        img(src='/img/icon-pencil.svg')
