# Node/NPM

# Log files
**/logs
**/*.log
**/npm-debug.log*

# Dependency directories
**/node_modules
**/bower_components

# Environmental variables file
**/.env

# Compiled output
public/css

# LaTeX-related
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
