p
  | Greetings #{user.firstName},
  br
  br
  | You have received this email because a password change was requested on our website.
  br
  br
  | You may click on the following link to begin the password recovery process:
  br
  a(href=resetURL) #{resetURL}
  br
  br
  | Thanks!
  br
  | - Team Meetchu
