doctype html
html
  head
    meta(charset='utf-8')
    title #{title} - Meetchu
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    // Stylesheets
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    if title == 'Home'
      link(rel='stylesheet', type='text/css', href='/css/home.css')
    if user
      link(rel='stylesheet', type='text/css', href='/css/sidebar.css')
    else
      link(rel='stylesheet', type='text/css', href='/css/navbar-footer.css')

  body
    if user
      #wrapper
        include includes/sidebar

        #content.container
          include includes/flash
          block content
          .container-full
            a#sidebar-toggle.btn.btn-default(href='#sidebar-toggle') Toggle Sidebar
    else
      include includes/navbar

      #main.container
        include includes/flash
        block content

    // Scripts
    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')
    if title == 'Courses'
      // Include AlgoliaSearch JS Client and autocomplete.js library
      script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
      script(src='https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js')
      script(src='/js/courses.js')
    else if tag == 'Chat'
      // Include AlgoliaSearch JS Client and jQuery text-complete library
      script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.min.js')
      script(src='/js/chat.js')
