extends base

block content
  .text-center
    h1#title Group study made easy.
    p#subtitle Meetchu simplifies messaging and scheduling so you can spend less time looking at the calendar and more time getting your work done.
    a.btn.btn-lg.btn-primary(href='/login', role='button') Get started
