body {
  padding-top: 64px;
  margin-bottom: 75px; }

#title {
  font-size: 5vw;
  font-family: Roboto;
  font-weight: bold;
  margin-bottom: 1.8vw; }

#subtitle {
  font-size: 3vw;
  font-family: Roboto;
  font-weight: lighter;
  margin-bottom: 1.8vw; }

@media (max-width: 600px) {
  #title {
    font-size: 30px;
    margin-bottom: 10.8px; }
  #subtitle {
    font-size: 18px;
    margin-bottom: 10.8px; } }

@media (min-width: 1000px) {
  #subtitle {
    font-size: 30px; } }

@media (min-width: 1500px) {
  #title {
    font-size: 75px;
    margin-bottom: 27px; }
  #subtitle {
    margin-bottom: 27px; } }

.navbar-default {
  border: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
  .navbar-default .navbar-nav > li > a {
    transition: color 0.4s cubic-bezier(0.24, 0.45, 0.46, 0.92); }

.navbar-default {
  height: 64px;
  background-color: #fff; }
  .navbar-default .container {
    height: inherit; }
  .navbar-default .navbar-header {
    height: inherit !important; }
  .navbar-default .navbar-brand {
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Uni Sans";
    font-weight: bold;
    font-size: 28px;
    height: 64px;
    white-space: nowrap;
    overflow: hidden; }
    .navbar-default .navbar-brand img {
      display: inline-block;
      vertical-align: middle;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 12px; }
    .navbar-default .navbar-brand span {
      display: inline-block;
      vertical-align: middle;
      line-height: 28px;
      padding-top: 20px;
      padding-bottom: 16px; }
  .navbar-default .navbar-nav > li > a {
    color: #444; }
  .navbar-default .navbar-nav img {
    height: 30px;
    width: 30px;
    margin: -15px 15px; }
  .navbar-default .navbar-collapse {
    background-color: #fff; }
  .navbar-default .navbar-toggle {
    z-index: 1; }
