@import '~bootstrap/scss/_variables';

// Colors

$gray-lighter: #f5f5f5;
$gray-light: #e0e0e0;
$gray: #737373;
$gray-dark: #404040;
$gray-darker: #121212;

$brand-primary: #584cfd;

// Typography

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Consolas, Menlo, Monaco, 'Courier New', monospace;
$font-family-base: $font-family-monospace;

// Buttons

$btn-primary-color: #fff;
$btn-primary-bg: #7166ff;
$btn-primary-border: darken($btn-primary-bg, 7%);

// Links

$link-color: $brand-primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
