@import '_fonts';
@import '_variables';

// General

[v-cloak] {
  display: none;
}

// Scaffolding

html, body, #app {
  font-family: $font-family-base;
  width: 100%;
  height: 100%;
}

html, body {
  overflow: hidden;
}

#app {
  overflow-y: scroll;
}

// Typography

a {
  transition: all 0.4s cubic-bezier(.24,.45,.46,.92);

  &:hover {
    text-decoration: none;
  }
}

a[role='button'] {
  &:focus {
    color: #fff;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family-base;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $gray-light;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $gray-light;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $gray-light;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-light;
}

.v-select {
  font-family: $font-family-base;
}

.word-wrap {
  max-width: 100%;
  word-wrap: break-word;
  overflow-x: hidden;
}

// List groups

.list-group-item {
  &.active {
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
}

// Modal

.modal.show {
  display: block;
}

// Font icons

.fa {
  margin-right: 6px;
}
